{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ msg }}场地信息</title>
  <link rel="stylesheet" href="{% static '/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
  <style>
    .my_container{
        width:50%;
        margin:0 auto;
    }
    .my_heading{
        font-style: normal;
        font-size:24px;
        font-weight: bold;
        text-align: center;
    }
  </style>
</head>

<body>
  <div class="my_container">
    <div class="panel panel-default">
        <div class="my_heading">
            {{ msg }}场地信息
        </div>
      <div class="panel-body">

        <form method = "POST" novalidate>
        {% csrf_token %}

        {% for field in form %}
          <div class="form-group">
            <label> {{ field.label }}</label>
            {{ field }}
          <span style = "color:red">{{ field.errors.0 }}</span>
          </div>
        {% endfor %}


          <button type="submit" class="btn btn-primary btn-block">{{ msg }}信息</button>
        </form>

      </div>
    </div>
  </div>

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>